<div class="modal fade" id="edit{{offer.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Edit</h4>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Product name</label>
            <div class="col-sm-9">
              {{input type="text" class="form-control" placeholder="Please enter product name" value=offer.name}}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">price</label>
            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon">$</span> {{input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Please enter price" value=offer.price}}
                <span class="input-group-addon">.00</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Discount</label>
            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon">%</span> {{input type="number" class="form-control" aria-label="percentage" placeholder="Please enter discount amount" value=offer.discount}}
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Image</label>
            <div class="col-sm-9">
              {{input type="url" class="form-control" placeholder="Please enter image url" value=offer.image}}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-9">
              {{textarea class="form-control" rows="4" placeholder="Please enter description" value=offer.description}}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" data-dismiss="modal" {{action "edit" offer.id}} class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
