<div class="modal fade" id="show{{offer.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">{{offer.name}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <img class="img-responsive col-md-10 col-md-offset-1" src="{{offer.images}}" alt="...">
          <hr>
          <div class="col-md-10 col-md-offset-1">
            <blockquote>
              <p>
                {{offer.description}}
              </p>
            </blockquote>
            <p class="text-primary">
              {{offer.user.username}}
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Edit</button>
      </div>
    </div>
  </div>
</div>
