{{nav-bar session=session onConfirm=(action "signOut")}}
<div class="container">
  {{outlet}}
</div><!-- /.container -->
{{sign-in session=session}}
{{sign-up}}
{{ember-notify messageStyle='bootstrap'}}
