<button type="button" data-toggle="modal" data-target="#new" class="btn btn-primary">New</button>
<hr>
<div class="row">
  {{#each model as |offer|}}
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <h4 class="card-header text-center">
          {{offer.name}}
        </h4>
        <img class="card-img-top img-fluid" src="{{offer.images}}">
        <div class="card-block">
          <p class="card-text">{{offer.user.username}}</p>
          <p class="card-text"><small class="text-muted">{{offer.price}} $</small></p>
          <a data-toggle="modal" data-target="#delete{{offer.id}}" class="btn btn-danger" role="button"><span class="glyphicons glyphicons-bin"></span> Delete</a>
          <a href="#" data-toggle="modal" data-target="#show{{offer.id}}" class="btn btn-secondary" role="button">Show</a>
          {{delete-offer offer=offer onConfirm=(action "removeOffer" offer.id)}}
          {{show-offer offer=offer}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{new-offer store=store }}
